/* .header{
    background-image: url(./assets/Images/stylish-happy-afro-woman-wear-orange-jumper-laughing-reading-message-chatting-social-media_165285-1961-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

*{
    font-family: "Montserrat", sans-serif;
}

.f-logo{
    height: 100px !important;
    width: auto !important;
    object-fit: fill !important;
}

.header-img {
    width: 100% !important;
}

nav {
    background-color: darkgray !important;
}

/* .card {
    
    min-height: 65vh !important;
} */

.small-screen {
    background-image:linear-gradient(60deg,rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.504)), url(./assets/Images/stylish-happy-afro-woman-wear-orange-jumper-laughing-reading-message-chatting-social-media_165285-1961-removebg-preview.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;

}

/* .......................
Our sevices 
.........................*/

.serv-img{
background-image:linear-gradient(rgba(0, 0, 0, 0.518), black), url(./assets/Images/cytonn-photography-n95VMLxqM2I-unsplash.jpg);
background-size: cover;
background-position: center;
height: 40vh;
}



.serv-card{
    cursor: pointer !important;
}
.serv-card:hover{
    transform: scale(1.1, 1.1) !important;
    transition: 2s !important;

}